configuration{
	modi: "combi,window,drun,ssh";
	icon-theme: "Oranchelo";
	show-icons: true;
	terminal: "alacritty";
	drun-display-format: "{icon} {name}";
	location: 0;
	disable-history: false;
	hide-scrollbar: true;
	display-ssh:    "";
	display-run:    "";
	display-drun:   "";
	display-window: "";
	display-combi:  "";
	show-icons:     true;
}

@theme "~/.config/rofi/gruvbox-material.rasi"
